body {
    background-color: cyan;
}

.top {
    font-style: oblique;
    text-align: center;
    padding: 25px 25px 50px 25px;
    margin: 30px;
    background-color: #023028;
    font-size: medium;
}

h3 {
    text-align: center;
    color: rgb(29, 2, 128);
    font-style: oblique;
}

p {
    text-align: center;
    font-style: oblique;
    color: solid black;
}

.outer-div {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.inner-div {
    margin: 10px;
}